/* comment */
/* setting the values */
:root {
    --main-font: arial, helvetica, sans-serif;
    --gold-metallic: #d3af0dff;
    --gold: #f7d126ff;
    --naples-yellow: #f9dc5cff;
    --jasmine: #fae588ff;
    --cornsilk: #fdf6d8ff;
}

body {
    /* here we use main-font */
    font-family: var(--main-font);
    background-color: var(--cornsilk);
    margin: 0px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr 0.1fr;
    overflow-y: scroll;
}
.main-header {
    background-color: var(--jasmine);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
}
.main-footer {
    background-color: var(--jasmine);
    display: grid;
    grid-template-columns: 0.4fr auto;
    width: 100%;
}
.user-navigation {
    grid-row-start: 2;
    grid-column-start: 3;
    align-self: end;
    padding: 0 0.5em 0.7em 0;
}
.user-navigation a {
    text-decoration: none;
    padding: 0 0.3em 0 0.3em;
    color: var(--gold-metallic);
}
.logo-link {
    grid-row: span 2;
}
.logo {
    max-width: 128px;
    padding: 10px;
}
.sidebar {
    height: 100%;
    width: 146px;
    position: fixed;
    z-index: 1;
    top: 9.2em;
    background-color: var(--jasmine);
    overflow-x: hidden;
}
.sidebar a {
    padding: 0.2em 0.25em 0.2em 0.5em;
    text-decoration: none;
    font-size: 18px;
    color: var(--gold-metallic);
    display: block;
}
.sidebar a:hover {
    color: var(--gold);
}
.search-form {
    justify-self: left;
    align-self: left;
    grid-row-start: 2;
    grid-column-start: 2;
    padding: 0 0 0.2em 0;
    display: flex;
    min-width: 60vw;
}
.search-input {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    padding: 0.5em;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.search-button {
    border-radius: 0px 5px 5px 0px;
    padding: 0.5em;
}
.socials-navigation {
    justify-self: end;
    grid-column-start: 2;
    padding: 0.7em 0.5em 0 0;
}
.socials-navigation a {
    text-decoration: none;
    color: var(--gold-metallic);
    padding: 0 0.3em 0 0.3em;
}
.about-navigation a {
    text-decoration: none;
    color: var(--gold-metallic);
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.4em 0em 0.4em;
    justify-content: center;
}
.about-navigation {
    grid-column-start: 1;
    position: absolute;
    left: 20em;
}
.returns-navigation a {
    text-decoration: none;
    color: var(--gold-metallic);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em 0.4em 0em 0.4em;
}
.returns-navigation { 
    position: absolute;
    left: 9.3em;
    grid-column-start: 1;
}
.returns-navigation a:hover {
    color: var(--gold);
}
.about-navigation a:hover {
    color: var(--gold);
}
.main-content {
    display: grid;
    grid-template-columns: 146px auto;
}
.main-carousel {
    width: 75%;
    height: 28%;
    padding: 16px;
    grid-column-start: 2;
    justify-self: center;
}
.cell {
    width: 20%;
    height: 100%;
    margin-right: 8px;
    place-items: center;
    background-position: center;
    aspect-ratio: 16/6;
}
.one {
    background-image: url("assets/shoe.jpg");
}
.two {
    background-image: url("assets/shoe2.jpg");
}
.three {
    background-image: url("assets/shoe3.jpg");
}
.four {
    background-image: url("assets/shoe4.jpg");
}
.five {
    background-image: url("assets/shoe5.jpg");
}
.card-image {
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}