/* comment */
/* setting the values */
:root {
    --main-font: arial, helvetica, sans-serif;
    --light-sea-green: #07beb8ff;
    --robin-egg-blue: #3dccc7ff;
    --tiffany-blue: #68d8d6ff;
    --celeste: #9ceaefff;
    --celeste-2: #c4fff9ff;
}

body {
    /* here we use main-font */
    font-family: var(--main-font);
    background-color: var(--celeste-2);
    margin: 0px;
}
.main-header {
    background-color: var(--celeste);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
}
.user-navigation {
    grid-row-start: 2;
    grid-column-start: 3;
    align-self: end;
    padding: 0.2em;
}
.user-navigation a {
    color: var(--robin-egg-blue);
    text-decoration: none;
    padding: 0.2em;
}
.user-navigation a:hover{
    color: var(--light-sea-green);
}
.logo-link {
    grid-row: span 2;
}
.logo {
    max-width: 128px;
    padding: 10px;
}
.sidebar {
    height: 100%;
    width: 148px;
    position: fixed;
    z-index: 1;
    top: 152px;
    background-color: var(--celeste);
    overflow-x: hidden;
}
.sidebar a {
    padding: 0.2em 0.25em 0.2em 0.5em;
    text-decoration: none;
    font-size: 18px;
    color: var(--robin-egg-blue);
    display: block;
}
.sidebar a:hover {
    color: var(--light-sea-green);
}
.search-form {
    justify-self: left;
    align-self: left;
    grid-row-start: 2;
    grid-column-start: 2;
    padding: 0px 0px 0.2em 0.1em;
    display: flex;
    min-width: 50vw;
}
.search-input {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    padding: 0.5em;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.search-button {
    border-radius: 0px 5px 5px 0px;
    padding: 0.5em;
}